html {
	box-sizing: border-box;
	font-size: 16px;
}
body {
	background: rgba(0, 0, 0, 0.2);
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

.footer {
	display: flex;
	height: 88px;
	background: yellow;
	padding: 30px;
	justify-content: start;
}

.footer h2 {
	font-size: 1.8rem;
}
.form {
	margin: 0 60px;
	display: flex;
}
.form input {
	height: 44px;
}

.submit {
	width: 85px;
	background: lightskyblue;
	color: white;
}

.colors {
	display: grid;
	grid-template-columns: repeat(4, minmax(150px, 1fr));

	justify-content: center;
	text-align: start;

	margin: auto;
}

.single-color {
	height: 150px;
}

p {
	margin: 5px 10px;
	margin-left: 35px;
	margin-top: 15px;
}

.color-light {
	color: white;
}
